/* css中定义变量 */
:root {
  --primary-color: #ff9854;
  /* 全局修改search样式 */
  --van-search-left-icon-color: #ff9854 !important;
  /* 主题颜色的渐变 */
  --theme-liner-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
  --van-primary-color:var(--primary-color);
  --van-text-color:var(--van-primary-color);
}

body {
  font-size: 14px;
}
/* 添加类，隐藏tabbar */
.hidetabbar {
  position: relative;
  z-index: 9;
  height: 100vh;
  background-color: #fff;
  overflow-y: auto;
}
